<%= content_for :page_title, 'About Rails POS' %>

<h1>About Rails POS</h1>

<p>
  Welcome to the about page for Rails POS. There isn't much to write about at the moment because I'm just going through the initial setup of the site. What I can say is that I am building on my previous project of an online store for Department 56 collectibles. That project wasn't much more than a way to display the items in the database in a pretty way. There was a shopping cart and order processing as well but no way to manage the back end. That is what I intend to solve here. 
</p>