          <footer class="row">
            <div class="large-12 columns"><hr/>
              <div class="row">
     
                <div class="large-6 columns">
                  <p>© There isn't a copyright. It was just made by me for fun.</p>
                </div>
                <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'About', page_path('about') %></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>